In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./payamount.xls')
df.head()

   交易金额（财务）  支付金额（数据库）  支付金额（数据库）保留两位（计算方式 ceil(x * 100) / 100）
0    118.53    118.528                                   118.53
1    374.88    374.876                                   374.88
2    239.87    305.080                                   305.08
3    305.08    239.870                                   239.87
4    335.03    335.030                                   335.03

In [3]:
a = df.iloc[:, 0].sort_values().reset_index(drop=True)
b = df.iloc[:, 1].sort_values().reset_index(drop=True)
c = df.iloc[:, 2].sort_values().reset_index(drop=True)
result = pd.concat([a, b, c], axis=1)
result['是否一致'] = np.where(a==c, '是','否')

In [7]:
with pd.ExcelWriter('./金额对比.xls', engine='openpyxl') as writer:
    result.to_excel(writer, index=False)